[submodule "wiki-processor"]
	path = wiki-processor
	url = https://github.com/tienyulin/llm-wiki-processor
[submodule "mcp-server"]
	path = mcp-server
	url = https://github.com/tienyulin/llm-mcp-server
[submodule "flashback-api"]
	path = flashback-api
	url = https://github.com/tienyulin/flashback-api
[submodule "infra"]
	path = infra
	url = https://github.com/tienyulin/llm-wiki-infra
